<!-- ==============Restaurant Page============== -->
<section class="restaurant-page-home">
  <div class="container restaurant-container">
    <h2 class="visually-hidden">About restaurant page Home</h2>
    <div class="logo-img-container">
      <p class="over-text">Amet minim mollit non</p>
      <h3 class="logo-text">MIMIHO</h3>
      <p class="text-page-home">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="img-text-container">
      <p class="text-page-home brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="slider-img-container"></div>
  </div>
</section>
