<!-- ==============Restaurant Page============== -->
<section class="restaurant-page-home">
  <div class="container restaurant-container">
    <h2 class="visually-hidden">About restaurant page Home</h2>
    <div class="logo-img-container">
      <p class="over-text">Amet minim mollit non</p>
      <h3 class="logo-text">MIMIHO</h3>
      <p class="text-page-home">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ../../img/home_page/about_our_restaurant/desktop/desktoprestaurantinterior2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/desktop/desktoprestaurantinterior1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ../../img/home_page/about_our_restaurant/tablet/tabletrestaurantinterior2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/tablet/tabletrestaurantinterior1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior1x.jpg
          "
          media="(max-width: 1023px)"
        />
        <img
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior2x.jpg 2x
          "
          src="../../img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior1x.jpg"
          alt="table and chairs in the restaurant hall"
          class="photo-restaurant-right"
        />
      </picture>
    </div>

    <div class="img-text-container">
      <picture>
        <source
          srcset="
            ../../img/home_page/about_our_restaurant/desktop/desktoporurijacome2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/desktop/desktoporurijacome1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ../../img/home_page/about_our_restaurant/tablet/tabletorurijacome2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/tablet/tabletorurijacome1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobileorurijacome2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/mobile/mobileorurijacome1x.jpg
          "
          media="(max-width: 1023px)"
        />

        <img
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobileorurijacome2x.jpg 2x
          "
          src="../../img/home_page/about_our_restaurant/mobile/mobileorurijacome1x.jpg"
          alt="table and chairs"
          class="photo-restaurant-left"
        />
      </picture>

      <p class="text-page-home brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="slider-img-container">
      <picture class="slider-img-mobile">
        <source
          srcset="
            ../../img/home_page/about_our_restaurant/desktop/desktophelenalopes2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/desktop/desktophelenalopes1x.jpg
          "
          media="(min-width: 1280px)"
          class="img-slider-tablet"/>

        <source
          srcset="
            ../../img/home_page/about_our_restaurant/tablet/tablethelenalopes2x.jpg 2x,
            ../../img/home_page/about_our_restaurant/tablet/tablethelenalopes1x.jpg
          "
          media="(min-width: 1024px)"
          class="img-slider-tablet"/>

        <img
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobilehelenalopes2x.jpg 2x
          "
          src="../../img/home_page/about_our_restaurant/mobile/mobilehelenalopes1x.jpg"
          alt="Бокали з вином"
        />

        <img
          srcset="
            ../../img/home_page/about_our_restaurant/mobile/mobilematbrown2x.jpg 2x
          "
          src="../../img/home_page/about_our_restaurant/mobile/mobilematbrown1x.jpg"
          alt="Сервірований стіл"
          width="245"
        />
      </picture>

    </div>
  </div>
</section>

<!-- ==============/Restaurant Page============== -->
