<section class="details-hotel details-hotel-overlay">
  <div class="details-hotel-container container">
    <div class="details-hotel-top">
      <div class="details-hotel-title-wrap">
        <p class="details-hotel-mimino">MIMIHO</p>
        <h2 class="details-hotel-titel title">Готель</h2>
      </div>

      <p class="details-hotel-content">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit
      </p>
    </div>

    <div class="details-hotel-bottom">
      <div class="details-hotel-slides slides">
        <!-- Slider main container -->
        <div class="details-hotel-swiper swiper-triple swiper">
          <ul class="swiper-wrapper">
            <!-- Slides -->
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop1@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab1@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob1@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg"
                  alt="Ресепшн"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop2@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab2@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob2@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob2@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop3@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab3@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob3@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop4@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab4@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob4@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
          </ul>

          <!-- If we need navigation buttons -->
          <div class="datails-hotel-swiper-btn-prev swiper-button-prev swiper-triple-button-prev">
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
            <div class="datails-hotel-swiper-btn-next swiper-button-next swiper-triple-button-next">
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="details-hotel-btn-wrap">
        <button
          class="details-hotel-btn button js-open-modal"
          data-modal="2"
          type="button"
          .js-open-modal
        >
          Забронювати номер
        </button>
        <a
          href="./section_about_hotel.html"
          class="details-hotel-link-btn link button"
        >
          Переглянути ціни
        </a>
      </div>
    </div>
  </div>
</section>
