<section class="resto-det">
	<div class="container resto-det-cont">
		<p class="resto-det-title text--turning" data-splitting="chars" data-animation="innerAnimated">MIMIHO</p>
		<p class="resto-det-name">Ресторан</p>
		<p class="resto-det-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
		<div class="resto-wrap">
			<div class="swiper">
				<ul class="swiper-wrapper">
					<li class="swiper-slide">
						<picture>
							<source
							srcset="../../img/home_page/details_of_our_restaurant/desktop-food-one.jpg 1x, ../../img/home_page/details_of_our_restaurant/desktop-food-one-2x.jpg 2x"
							media="(min-width: 1280px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/tablet-food-one.jpg 1x, ../../img/home_page/details_of_our_restaurant/tablet-food-one-2x.jpg 2x"
							media="(min-width: 1024px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/phone-food-one.jpg 1x, ../../img/home_page/details_of_our_restaurant/phone-food-one-2x.jpg 2x"
							media="(min-width: 414px)">
							<img
							src="../../img/home_page/details_of_our_restaurant/phone-food-one.jpg"
							alt=""
							width="274px">
						</picture>
					</li>
					<li class="swiper-slide">
						<picture>
							<source
							srcset="../../img/home_page/details_of_our_restaurant/desktop-food-twoo.jpg 1x, ../../img/home_page/details_of_our_restaurant/desktop-food-twoo-2x.jpg 2x"
							media="(min-width: 1280px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/tablet-food-twoo.jpg 1x, ../../img/home_page/details_of_our_restaurant/tablet-food-twoo-2x.jpg 2x"
							media="(min-width: 1024px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/phone-food-twoo.jpg 1x, ../../img/home_page/details_of_our_restaurant/phone-food-twoo-2x.jpg 2x"
							media="(min-width: 414px)">
							<img
							src="../../img/home_page/details_of_our_restaurant/phone-food-twoo.jpg"
							alt=""
							width="274px">
						</picture>
					</li>
					<li class="swiper-slide">
						<picture>
							<source
							srcset="../../img/home_page/details_of_our_restaurant/desktop-food-three.jpg 1x, ../../img/home_page/details_of_our_restaurant/desktop-food-three-2x.jpg 2x"
							media="(min-width: 1280px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/tablet-food-three.jpg 1x, ../../img/home_page/details_of_our_restaurant/tablet-food-three-2x.jpg 2x"
							media="(min-width: 1024px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/phone-food-three.jpg 1x, ../../img/home_page/details_of_our_restaurant/phone-food-three-2x.jpg 2x"
							media="(min-width: 414px)">
							<img
							src="../../img/home_page/details_of_our_restaurant/phone-food-three.jpg"
							alt=""
							width="274px">
						</picture>
					</li>
					<li class="swiper-slide">
						<picture>
							<source
							srcset="../../img/home_page/details_of_our_restaurant/desktop-food-four.jpg 1x, ../../img/home_page/details_of_our_restaurant/desktop-food-four-2x.jpg 2x"
							media="(min-width: 1280px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/tablet-food-four.jpg 1x, ../../img/home_page/details_of_our_restaurant/tablet-food-four-2x.jpg 2x"
							media="(min-width: 1024px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/phone-food-four.jpg 1x, ../../img/home_page/details_of_our_restaurant/phone-food-four-2x.jpg 2x"
							media="(min-width: 414px)">
							<img
							src="../../img/home_page/details_of_our_restaurant/phone-food-four.jpg"
							alt=""
							width="274px">
						</picture>
					</li>
					<li class="swiper-slide">
						<picture>
							<source
							srcset="../../img/home_page/details_of_our_restaurant/desktop-food-five.jpg 1x, ../../img/home_page/details_of_our_restaurant/desktop-food-five-2x.jpg 2x"
							media="(min-width: 1280px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/tablet-food-five.jpg 1x, ../../img/home_page/details_of_our_restaurant/tablet-food-five-2x.jpg 2x"
							media="(min-width: 1024px)">
							<source
							srcset="../../img/home_page/details_of_our_restaurant/phone-food-five.jpg 1x, ../../img/home_page/details_of_our_restaurant/phone-food-five-2x.jpg 2x"
							media="(min-width: 414px)">
							<img
							src="../../img/home_page/details_of_our_restaurant/phone-food-five.jpg"
							alt=""
							width="274px">
						</picture>
					</li>
				</ul>
				<div class="swiper-button-prev">
					<svg class="resto-closed-icon" Width="32" Height="32">
						<use href="../img/icons.svg#icon-arrow-left"></use>
							</svg>
				</div>
  			<div class="swiper-button-next">
					<svg class="resto-closed-icon" Width="32" Height="32">
						<use href="../img/icons.svg#icon-arrow-right"></use>
					</svg>
				</div>
			</div>
			<div class="buttom-wrap">
				<button type="button" class="resto-reserved-button" .js-open-moda>Забронювати столик</button>
				<button type="button" class="resto-visit-button" >Переглянути меню</button>
			</div>
		</div>
</div>
</section>