<section class="details-hotel details-hotel-overlay">
  <div class="details-hotel-container container">
    <div class="details-hotel-top">
      <div class="details-hotel-title-wrap">
        <p class="details-hotel-mimino">MIMIHO</p>
        <h2 class="details-hotel-titel title">Готель</h2>
      </div>

      <p class="details-hotel-content">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit
      </p>
    </div>

    <div class="details-hotel-bottom">
      <div class="details-hotel-slides slides">
        <!-- Slider main container -->
        <div class="details-hotel-swiper swiper">
          <ul class="swiper-wrapper">
            <!-- Slides -->
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop1@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab1@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob1@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg"
                  alt="Ресепшн"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop2@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab2@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob2@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob2@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob2@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop3@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab3@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob3@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop4@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab4@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob4@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
          </ul>

          <!-- If we need navigation buttons -->
          <div class="datails-hotel-swiper-btn-prev swiper-button-prev">
            <svg
              class="deteils-hotel-arrow-icon arrow-icon"
              width="32"
              height="32"
            >
              <use
                class="detail-hotel-arrow"
                href="./img/icons.svg#icon-arrow-left"
              ></use>
            </svg>
          </div>
          <div class="details-hotel-swiper-btn-next swiper-button-next">
            <svg
              class="details-hotel-arrow-icon arrow-icon"
              width="32"
              height="32"
            >
              <use
                class="detail-hotel-arrow"
                href="./img/icons.svg#icon-arrow-rigth"
              ></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="details-hotel-btn-wrap">
        <button
          class="details-hotel-btn button"
          type="button"
          .js-open-modal
        >
          Забронювати номер
        </button>
        <a href="" class="details-hotel-link-btn link button">
          Переглянути ціни
        </a>
      </div>
    </div>
  </div>
</section>


<!-----Modal----->
<div class="modal" .js-overlay-modal="2">
  <div class="backdrop-order-room is-hidden overlay js-overlay-modal">
    <div class="modal-order-room-container">
      <button type="button" class="close-btn-modal" .js-modal-close>
        <svg class="close-btn-modal-svg" width="24" height="24">
          <use href="../../img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="modal-order-room-form">
        <p class="modal-order-room-mission">ЗАБРОНЮВАТИ НОМЕР</p>
        <div class="modal-wapper-top-part">
          <label class="modal-order-room-label label-top-part">
            <input
              type="text"
              class="modal-order-room-input modal-border"
              name="user_name"
              required
              pattern="^[a-zA-Zа-яА-Я]+$"
              minlength="2"
              placeholder="Ваше ім’я"
            />
            <span class="modal-order-room-text order-room-span"
              >На кого забронювати номер?</span
            >
          </label>

          <label class="modal-order-room-label modal-order-room-text">
            <input
              type="tel"
              class="modal-order-room-input modal-border"
              name="user_phone"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              placeholder="+38 (___) ___-__-__"
            />
            <span class="modal-order-room-text order-room-span"
              >Номер телефону</span
            >
          </label>
        </div>
        <div class="modal-middle-part">
          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Двомісний люкс</option>
            <option value="s">Двомісний</option>
            <option value="m">Трьохмісний</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Категорія номеру</label
          >
        </div>
        <div class="modal-wrapper-bottom-part">
          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Сьогодні</option>
            <option value="s">4</option>
            <option value="m">6</option>
            <option value="l">12</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Дата заїзду</label
          >

          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Сьогодні</option>
            <option value="s">4</option>
            <option value="m">6</option>
            <option value="l">12</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Дата виїзду</label
          >
        </div>
        <button type="submit" class="modal-order-room-btn button">
          ОФОРМИТИ БРОНЮВАННЯ
        </button>
      </form>
    </div>
  </div>

  <div class="backdrop-order-room is-hidden" data-modal>
    <div class="modal-order-room-container">
      <button type="button" class="close-btn-modal" data-modal-close>
        <svg class="close-btn-modal-svg" width="24" height="24">
          <use href="../../img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="modal-order-room-form">
        <p class="modal-order-room-mission">ЗАБРОНЮВАТИ НОМЕР</p>
        <div class="modal-wapper-top-part">
          <label class="modal-order-room-label label-top-part">
            <input
              type="text"
              class="modal-order-room-input modal-border"
              name="user_name"
              required
              pattern="^[a-zA-Zа-яА-Я]+$"
              minlength="2"
              placeholder="Ваше ім’я"
            />
            <span class="modal-order-room-text order-room-span"
              >На кого забронювати номер?</span
            >
          </label>

          <label class="modal-order-room-label modal-order-room-text">
            <input
              type="tel"
              class="modal-order-room-input modal-border"
              name="user_phone"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              placeholder="+38 (___) ___-__-__"
            />
            <span class="modal-order-room-text order-room-span"
              >Номер телефону</span
            >
          </label>
        </div>
        <div class="modal-middle-part">
          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Двомісний люкс</option>
            <option value="s">Двомісний</option>
            <option value="m">Трьохмісний</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Категорія номеру</label
          >
        </div>
        <div class="modal-wpapper-bottom-part">
          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Сьогодні</option>
            <option value="s">4</option>
            <option value="m">6</option>
            <option value="l">12</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Дата заїзду</label
          >

          <select
            class="modal-order-room-select modal-border"
            id="size"
            name="size"
          >
            <option value="xs" selected>Сьогодні</option>
            <option value="s">4</option>
            <option value="m">6</option>
            <option value="l">12</option>
          </select>
          <label
            class="modal-order-room-label modal-order-room-text order-room-label"
            for="size"
            >Дата виїзду</label
          >
        </div>
        <button type="submit" class="modal-order-room-btn button">
          ОФОРМИТИ БРОНЮВАННЯ
        </button>
      </form>
    </div>
  </div>
</div>


  <div class="modal-order-room-container">
    <button type="button" class="close-btn-modal" data-modal-close>
      <svg class="close-btn-modal-svg" width="24" height="24">
        <use href="../../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-order-room-form">
      <p class="modal-order-room-mission">ЗАБРОНЮВАТИ НОМЕР</p>
      <div class="modal-wapper-top-part">
        <label class="modal-order-room-label label-top-part">
          <input
            type="text"
            class="modal-order-room-input modal-border"
            name="user_name"
            required
            pattern="^[a-zA-Zа-яА-Я]+$"
            minlength="2"
            placeholder="Ваше ім’я"
          />
          <span class="modal-order-room-text order-room-span"
            >На кого забронювати номер?</span
          >
        </label>

        <label class="modal-order-room-label modal-order-room-text">
          <input
            type="tel"
            class="modal-order-room-input modal-border"
            name="user_phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            placeholder="+38 (___) ___-__-__"
          />
          <span class="modal-order-room-text order-room-span"
            >Номер телефону</span
          >
        </label>
      </div>
      <div class="modal-middle-part">
        <select
          class="modal-order-room-select modal-border"
          id="size"
          name="size"
        >
          <option value="xs" selected>Двомісний люкс</option>
          <option value="s">Двомісний</option>
          <option value="m">Трьохмісний</option>
        </select>
        <label
          class="modal-order-room-label modal-order-room-text order-room-label"
          for="size"
          >Категорія номеру</label
        >
      </div>
      <div class="modal-wpapper-bottom-part">
        <select
          class="modal-order-room-select modal-border"
          id="size"
          name="size"
        >
          <option value="xs" selected>Сьогодні</option>
          <option value="s">4</option>
          <option value="m">6</option>
          <option value="l">12</option>
        </select>
        <label
          class="modal-order-room-label modal-order-room-text order-room-label"
          for="size"
          >Дата заїзду</label
        >

        <select
          class="modal-order-room-select modal-border"
          id="size"
          name="size"
        >
          <option value="xs" selected>Сьогодні</option>
          <option value="s">4</option>
          <option value="m">6</option>
          <option value="l">12</option>
        </select>
        <label
          class="modal-order-room-label modal-order-room-text order-room-label"
          for="size"
          >Дата виїзду</label
        >
      </div>
      <button type="submit" class="modal-order-room-btn button">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>
<script src="../../main.js">
  (() => {
    const refs = {
      openModalBtn: document.querySelectorAll('[data-modal-open]'),
      closeModalBtn: document.querySelectorAll('[data-modal-close]'),
      modal: document.querySelectorAll('[data-modal]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);

    function toggleModal() {
      refs.modal.classList.toggle('is-hidden');
    }
  })();
</script> -->

<!-- <script src="../../main.js">
  (() => {
    const refs = {
      openModalBtn: document.querySelectorAll('[data-modal-open]'),
      closeModalBtn: document.querySelectorAll('[data-modal-close]'),
      modal: document.querySelectorAll('[data-modal]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);

    function toggleModal() {
      refs.modal.classList.toggle('is-hidden');
    }
  })();
</script> -->
