
.resto-det{
	padding-top: 24px;
	padding-right: 40px;
	padding-bottom: 24px;
	padding-left: 40px;
}


.resto-det{
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-phone.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
	.resto-det {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-phone-2x.jpg);
	}
}

.resto-det-title{
	font-family: 'Film P3';
	font-weight: 700;
	font-size: 40px;
	line-height: 1.07;
	letter-spacing: 0.3em;
	color: var(--hero-text-color);
	margin-bottom: 12px;
	text-align: center;
}

.resto-det-name{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--hero-text-color);
	margin-bottom: 20px;
	text-align: center;
}

.resto-det-text{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: var(--grey-second-color);
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
	max-width: 259px;
}

.resto-reserved-button,
.resto-visit-button{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: var(--akzent-yellow);
	padding: 14px 14px;
	width: 236px;
	height: 48px;
	background: #000000;
	border: 2px solid var(--wight-hover);
	border-radius: 25px;
	cursor: pointer;
	transition-property: background-color, border-color;
	transition-duration: var(--time-animation);
	transition-timing-function: var(--cubic-bezier);
}

.resto-reserved-button:hover,
.resto-visit-button:hover,
.resto-reserved-button:focus,
.resto-visit-button:focus{
	background-color: var(--akzent-yellow);
	color: var(--black-text-color);
	border-color: var(--wight-hover);
}

.buttom-wrap{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resto-reserved-button{
	margin-bottom: 16px;
}

.swiper-button-prev{
	top: 274px;
	left: -3px;
	fill: #FFFFFF;
}

.swiper-button-next{
	right: 161px;
	top: 274px;
	fill: #FFFFFF;
}


.swiper-button-prev::after,
.swiper-button-next::after{
	display: none;
}

@media screen and (min-width: 414px){

	.resto-det-title,
	.resto-det-name,
	.resto-det-text{
		margin-left: 140px;
		text-align: left;
	}
}


@media screen and (min-width: 1024px){
	

	.resto-det {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-tablet.jpg);
	}

	@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
	.resto-det {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-tablet-2x.jpg);
	}
}

.resto-det-title{
	margin-left: 278px;
	margin-bottom: 16px;
	font-size: 64px;
}

.resto-det-name{
	margin-left: 278px;
	margin-bottom: 8px;
	font-size: 24px;
}

.resto-det-text{
	margin-left: 278px;
	margin-bottom: 40px;
	font-size: 16px;
	min-width: 610px;
}

.resto-wrap{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	gap: 29px;
}

.resto-reserved-button,
.resto-visit-button{
	min-width: 236px;
}
}

@media screen and (min-width: 1280px){
	

	.resto-det {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-desktop.jpg);
	}

	@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
	.resto-det {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/home_page/details_of_our_restaurant/bg-resto-desktop-2x.jpg);
	}

	.resto-det-title{
		margin-left: 338px;
	}
	
	.resto-det-name{
		margin-left: 338px;
	}
	
	.resto-det-text{
		margin-left: 338px;
	}

	.resto-wrap{
		gap: 29px;
	}
}
}