<section class="hotel-section-lux">
  <div class="container">
    <!-- текст и картинка в общем диве-->

    <div class="hotel-lux-title-img">
      <div class="hotel-lux-title-block">
        <p class="hotel-lux-min-text">Amet minim mollit non</p>
        <p class="hotel-lux-mimino">mimiho</p>
        <h2 class="hotel-lux-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="hotel-lux-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/hotel/lux/desk-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/desk-lux-room-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hotel/lux/tab-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/tab-lux-room-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/hotel/lux/mob-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/mob-lux-room-2x-min.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/hotel/lux/mob-lux-room-1x-min.jpg"
          alt="lux-room"
          width="244"
          height="320"
          class="lux-img"
        />
      </picture>
    </div>

    <!--------слайдер + кнопки ---------->

    <!--------слайдер---------->
    <div class="hotel-lux-slider-btn">
      <div class="swiper" >
        <ul class="hotel-lux-swiper-wrapper">
          <!-- <li class="hotel-lux-slider">
            <picture>
              <source
                srcset="
                  ../../img/hotel/lux/desk-lux-a-room-1x-min.jpg 1x,
                  ../../img/hotel/lux/desk-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  /img/lux/mob-lux-a-room-2x-min.jpg            2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-a-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-a-room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li>
          <li class="hotel-lux-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/lux/desk-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/desk-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  ./img/lux/mob-lux-a-room-2x-min.jpg            2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-a-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-a-room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li> -->
          <li class="hotel-lux-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/lux/desk-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/desk-lux-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-b-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-b-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-b-room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li>
          <li class="hotel-lux-slider">
            <picture>
              <source
                srcset="
                  ../../img/hotel/lux/desk-lux-3-room-1x-min.jpg 1x,
                  ../../img/hotel/lux/desk-lux-3-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../../img/hotel/lux/tab-lux-3-room-1x-min.jpg 1x,
                  ../../img/hotel/lux/tab-lux-3-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ../../img/hotel/lux/mob-lux-3-room-1x-min.jpg 1x,
                  ../../img/hotel/lux/mob-lux-3-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ../../img/hotel/lux/mob-lux-3-room-1x-min.jpg 1x,
                  ../../img/hotel/lux/mob-lux-3-room-2x-min.jpg 2x
                "
                src="../../img/hotel/lux/mob-lux--room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
          <svg>
           <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg>
           <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <!-------- кнопки ---------->

      <ul class="hotel-lux-btn-list">
        <li>
          <button class="hotel-lux-btn" onClick="location.href='#'">
            Детальніше
          </button>
        </li>
        <li>
          <button class="hotel-lux-btn" onClick="location.href='#'">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>

    <!-------------->
  </div>
</section>
