<section class="hotel-section-double">
  <div class="container double">
    <!-- текст и картинка в общем диве-->

    <div class="hotel-double-title-img">
      <div class="hotel-double-title-block">
        <p class="hotel-double-min-text">Amet minim mollit non</p>
        <p class="hotel-double-mimino">mimiho</p>
        <h2 class="hotel-double-title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="hotel-double-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/hotel/double/desk-double-room-1x-min.jpg 1x,
            ./img/hotel/double/desk-double-room-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hotel/double/tab-double-room-1x-min.jpg 1x,
            ./img/hotel/double/tab-double-room-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/hotel/double/mob-double-room-1x-min.jpg 1x,
            ./img/hotel/double/mob-double-room-2x-min.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/hotel/double/mob-double-room-1x-min.jpg"
          alt="double-room"
          width="244"
          height="320"
          class="double-img"
        />
      </picture>
    </div>

    <!--------слайдер + кнопки ---------->

    <!--------слайдер---------->
    <div class="hotel-double-slider-btn">
      <div class="swiper hotel-double-swiper">
        <ul class="swiper-wrapper hotel-double-swiper-wrapper">
         
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-c-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-c-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-c-room-2x-min.jpg  2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-c-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-c-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-b-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-b-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-b-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-2-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-2-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-2-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-2-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-2-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev h-double-prev">
          <svg>
           <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next h-double-next">
          <svg>
           <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <!-------- кнопки ---------->

      <ul class="hotel-double-btn-list">
        <li>
          <button class="hotel-double-btn" onClick="location.href='#'">
            Детальніше
          </button>
          
        </li>
        <li>
          <button class="hotel-lux-btn js-open-modal" type="button" data-modal="3">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>

    <!-------------->
  </div>
</section>
