<section class="hero-section">
  <div class="container">
    <address class="hero-address">
      <svg class="address-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-location"></use>
      </svg>
      <a href="" target="_blank" class="hero-address-link link"
        >Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-aftertitle">Готель</h2>
    <p class="hero-descr">СМАК ЖИТТЯ 24/7</p>
    <div class="btn-wrap">
      <button type="button" class="order-table-btn">Забронювати столик</button>
      <button type="button" class="order-room-btn" data-modal-open>
        Забронювати номер
      </button>
      <button type="button" class="price-btn" data-modal-open>
        Переглянути ціни
      </button>
    </div>
    <ul class="hero-soc-list list">
      <li class="hero-soc-item">
        <a
          href="https://www.instagram.com/"
          rel="nofollow noopener noreferrer"
          target="_blank"
          class="hero-soc-link link"
        >
          <svg class="hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a
          href="https://www.facebook.com/"
          rel="nofollow noopener noreferrer"
          target="_blank"
          class="hero-soc-link link"
        >
          <svg class="hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a
          href="https://web.telegram.org/z/"
          rel="nofollow noopener noreferrer"
          target="_blank"
          class="hero-soc-link link"
        >
          <svg class="hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
