<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebStudio</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>

            <footer class="footer">
               <div class="footer-container">
            
                  <div class="div-mimino">
                            <a class="mimino-logo-footer" href="index.html">
                                MIMIHO
                            </a>
                  
                           <div class="footer-nav-soc">
                                <ul class="footer-nav">
                                    <li class="nav-item">
                                        <a class="navigation">Головна</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navigation">Ресторан</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navigation">Готель</a>
                                    </li>
                                </ul>
                                <ul class="soc-list">
                                    <li class=""><a href="" class="">
                                        <svg class="" width="24px" height="24px">
                                            <use href="../img/icons.svg#icon-instagram"></use>
                                        </svg>
                                    </a></li>
                        
                                    
                                    <li class="social-item-footer"><a href="" class="social-link-footer">
                                        <svg class="sociel-icon-footer" width="24px" height="24px">
                                            <use href="../img/icons.svg#icon-facebook"></use>
                                        </svg>
                                    </a></li>
                                
                                    <li class="social-item-footer"><a href="" class="social-link-footer">
                                        <svg class="sociel-icon-footer" width="24px" height="24px">
                                            <use href="../img/icons.svg#icon-telegram"></use>
                                        </svg>
                                    </a></li>
                                
                                </ul>
                  </div>
               </div>
               </div>
            </footer>
        </body>
        </html>