.hotel-section-lux {
    background-color: #FFFDEE;
    padding: 28px 0px 32px 0px;

}

.hotel-lux-title-block {
    max-width: 350px;
}

.hotel-lux-min-text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--grey-text-color);
    margin-bottom: 8px;
}


.hotel-lux-mimino {
    font-family: 'Film P3';
    font-weight: bold;
    font-size: 40px;
    line-height: 1.33;
    letter-spacing: 0.3em;
    color: var(--title-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.hotel-lux-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--black-text-color);
    margin-bottom: 32px;

}

.hotel-lux-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: var(--dark-grey-text-color);
    max-width: 238px;
    margin-bottom: 32px;
}

.lux-img-block {
    width: 244px;
    height: 320px;

}

.lux-img {
    margin-left: auto;
}



.hotel-lux-swiper-wrapper {
    display: flex;
    gap: 16px;
}

.hotel-lux-slider-btn {
    margin-top: 48px;
}


.lux-slider-img {
    width: 100%;
    display: block;
}


.hotel-lux-btn-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 72px;
    align-items: center;
}

.hotel-lux-btn {
    background-color: #000000;
    border-radius: 25px;
    border: 2px Solid #ffffff;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--akzent-yellow);
    width: 236px;
    height: 48px;
    transition: background-color var(--time-animation) var(--cubic-bezier);


}

.hotel-lux-btn:hover,
.hotel-lux-btn:focus {
    background-color: #fff;
    border: 2px Solid var(--akzent-yellow);
}


/*-//////////////-----TABLET---//////////------*/




@media screen and (min-width: 1024px) {
    .container {
        max-width: 1023px;
    }

    .hotel-section-lux {
        padding: 62px 47px 40px 47px;
    }

    .hotel-lux-title-block {
        max-width: 500px;
    }

    .hotel-lux-mimino {
        font-family: 'Film P3';
        font-weight: bold;
        font-size: 64px;
        line-height: 1.07;
        margin-bottom: 62px;
    }

    .hotel-lux-title-img {
        display: flex;
    }

    .lux-img {
        margin-left: 48px;
        position: relative;
        margin-top: -95px;
        z-index: 2;
        width: 460px;
        height: 574px;
    }

    .hotel-lux-slider-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hotel-lux-btn-list {
        margin-top: 0;
    }


    .hotel-lux-title {
        font-size: 32px;
        line-height: 1.13;
    }


    .hotel-lux-text {
        font-weight: 600;
        font-size: 16px;
        max-width: 400px;
    }


}

.test {
    height: 50px;
    background-color: #C79002;
}


/*------------------DESK-------------------*/

@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;

    }

    .hotel-section-lux {
        padding: 72px 85px 40px 85px;
    }

    .lux-img {
        margin-left: 48px;
        position: relative;
        margin-top: -105px;
        z-index: 2;
        width: 460px;
        height: 574px;
    }

    .hotel-lux-min-text {
        font-size: 32px;
        line-height: 1.15;
    }

    .hotel-lux-mimino {
        font-family: 'Film P3';
        font-weight: bold;
        font-size: 64px;
        line-height: 1.07;
        margin-bottom: 62px;
    }

    .hotel-lux-text {
        font-weight: bold;
        font-size: 16px;
        max-width: 450px;
    }

    .hotel-lux-title {
        font-size: 36px;
        line-height: 1.13;
    }

    .hotel-lux-title-block {
        max-width: 800px;
    }

    .hotel-lux-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        max-width: 400px;
    }

}